.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;

  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-weight: 600;
  text-transform: uppercase;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  user-select: none;

}
.avatar.inline {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatar.stacked {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}


.avatar-initial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--color-tertiary);
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

