

.avatar {
  display: flex;
  align-items: center;
  cursor: "pointer";
}
.avatar.inline {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.avatar.stacked {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}

.avatar-text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: 200;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-bottom: .2rem;
  text-transform: uppercase;
}


.avatar-initial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--color-tertiary);
  font-size: 0.9em;
  letter-spacing: 0.5px;
  color: "#fff",
}




