.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(171, 168, 156, 0.5);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
  /* transition: all 0.3s ease-in-out; */
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right .nav {
  display: flex;
  gap: 2em;
}

.header-right a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.05em;
  transition: opacity 0.2s;
}

.header-right a:hover {
  opacity: 0.7;
}
